<!DOCTYPE html>
<html>
<head>
  <head>
    <title>Ombak Extension</title>    
    <script src="../js/jquery.js"></script>    
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular_routes.js"></script>
    <script src="../js/own.js"></script>
    <script src="../js/_angular.js"></script>    
    <!-- styling -->    
    <link rel="stylesheet" type="text/css" href="../bower/flatly/bootstrap.css">   
    <link rel="stylesheet" type="text/css" href="../bower/flatly/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/own.css">

  </head>
</head>
<body class = "main_ombaq">
  <div ng-app="myApp" >
    <div ng-controller="myCtrl">
      <!-- <div ng-view>
          
      </div> -->
      <div class="row">
        <div class = "col-lg-4 col-lg-offset-4">
          <div class = "thumbnail login-container ">        
            <div ng-click="_login('twitter')" class = "alert alert-info center">
              Sign In With Twitter
            </div>
            <div ng-click="_login('facebook')" class = "alert alert-info center">
              Sign In With Facebook
            </div>
            <!-- <div class="form-group or">
                  OR
            </div> -->
            <!-- <label class = "or">Sign In with Email</label>          
            <div class="input-group">
                      
              <input type="text" class="form-control">            
            </div> -->
          </div>
        </div>  
      </div>    
    </div>    
  </div>  
</body>
</html>